* {
  padding: 0;
  margin: 0;
}
header {
  background-color: rgba(255, 255, 255, 0.8);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}
header ul {
  position: absolute;
  padding-top: 1px;
  line-height: 60px;
  top: 0px;
  right: 10px;
}
.Mysymbol {
  width: 55px;
  height: 55px;
  padding-left: 10px;
  padding-top: 2px;
}
h1 {
  color: rgb(11, 11, 11);
  position: absolute;
  top: 1px;
  padding-left: 100px;
  line-height: 60px;
  width: 100%;
  font-size: 15px;
}

header li {
  display: inline;
  margin-right: 4vw;
}
li img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 25px;
}
li img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.hover-text {
  display: none; /* 默认隐藏文本 */
  position: absolute; /* 绝对定位文本 */
  left: 50%; /* 水平居中对齐，结合transform */
  transform: translateX(-50%); /* 调整文本以居中 */
  top: 100%; /* 设置文本在图片下方 */
  background-color: rgba(255, 252, 252, 0.7); /* 背景颜色 */
  color: rgb(20, 203, 253); /* 字体颜色 */
  padding: 5px; /* 内边距 */
  border-radius: 5px; /* 圆角样式 */
  width: 180px;
  height: 110px;
  font-size: 15px;
  font-weight: bold; /* 使字体加粗 */
}

.hover-img {
  display: none; /* 默认隐藏文本 */
  position: absolute; /* 绝对定位文本 */
  left: 50%; /* 水平居中对齐，结合transform */
  transform: translateX(-50%); /* 调整文本以居中 */
  top: 100%; /* 设置文本在图片下方 */
  background-color: rgba(255, 252, 252, 0.7); /* 背景颜色 */
  padding: 5px; /* 内边距 */
  border-radius: 5px; /* 圆角样式 */
  width: 180px;
  height: 210px;
  background-image: url(images/wechat.jpg);
  background-size: cover; /* 背景图缩放以覆盖整个块 */
  background-position: center; /* 背景图居中显示 */
}
li:hover .hover-text {
  display: block; /* 鼠标悬停时显示文本 */
}

li:hover .hover-img {
  display: block; /* 鼠标悬停时显示文本 */
}
.motto {
  color: white;
  height: 100vh;
  min-height: 100vh;
  background-image: url(images/主页2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*轮播图*/
:root {
  --iwidth: 300px;
  --iheight: 200px;
  --iwidth2: 500px;
  --iheight2: 380px;
}
#Img {
  width: var(--iwidth);
  height: var(--iheight);
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: relative;
  margin-top: 60vh;
  margin-right: 65vw;
}
#main {
  display: flex;
  position: absolute;
  left: 0;
  gap: 5px;
}
#main div {
  width: var(--iwidth);
  height: var(--iheight);
  border-radius: 10px;
  box-shadow: 15px 15px 15px 5px rgba(247, 43, 43, 0.5);
  flex-shrink: 0;
  background-size: cover;
}
#img1 {
  background: url(images/10.获奖证明/10.2024-12-APMC亚太数学建模.jpg);
}
#img2 {
  background: url(images/10.获奖证明/5.2023-12-山东数学竞赛.jpg);
}
#img3 {
  background: url(images/10.获奖证明/2.2023-12-全国数学竞赛.jpg);
}
#img4 {
  background: url(images/10.获奖证明/8.2024-11-数学建模赛区一等.jpg);
}
#img5 {
  background: url(images/10.获奖证明/1.2023-6-C语言程序设计.jpg);
}
/*图片放大*/
#img1 {
  transition: transform 0.5s ease; /* 调整时间和过渡效果 */
}
#img2 {
  transition: transform 0.5s ease; /* 调整时间和过渡效果 */
}
#img3 {
  transition: transform 0.5s ease; /* 调整时间和过渡效果 */
}
#img4 {
  transition: transform 0.5s ease; /* 调整时间和过渡效果 */
}
#img5 {
  transition: transform 0.5s ease; /* 调整时间和过渡效果 */
}
#img1:hover {
  transform: scale(1.5);
}
#img2:hover {
  transform: scale(1.5);
}
#img3:hover {
  transform: scale(1.5);
}
#img4:hover {
  transform: scale(1.5);
}
#img5:hover {
  transform: scale(1.5);
}
/*标语*/
.slogan {
  background-color: #485652;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8em;
}

.slogan h2 {
  font-size: 15px;
}

/*作品1*/
.Work1 {
  display: flex;
  background-color: #dddddd;
}

.Work1 img {
  width: 15vw;
  height: auto; /* 保持纵横比 */
  margin: 0 5vw;
}

.info1 {
  position: absolute; /* 设置文本为绝对定位 */
  top: 20vh;
  left: 32vw; /* 文本距离左侧的距离 */
  color: rgb(7, 7, 0); /* 文本颜色 */
  background-color: rgba(248, 246, 246, 0); /* 半透明背景 */

  display: flex; /* 将子元素作为 flex 容器的子项 */
  flex-direction: column; /* 垂直排列子元素（如有多个） */
  justify-content: center; /* 垂直居中 */
  align-items: center; /* 水平居中 */
  height: 100px; /* 定义父元素的高度以帮助垂直居中 */
  width: 500px; /* 定义父元素的宽度以帮助水平居中 */
}

.info1 h3 {
  font-size: 15px;
}

.info1 p {
  font-size: 13px;
  margin-top: 2.5vh;
}
.info1 a {
  color: blue;
  text-decoration: none;
  border: 1px solid rgb(34, 179, 80);
  padding: 5px 20px;
  border-radius: 10px;
}

/*作品2*/
.Work2 {
  display: flex;
  background-color: #dddddd;
}

.Work2 img {
  width: 15vw;
  height: auto; /* 保持纵横比 */
  margin: 0 5vw;
}

.info2 {
  position: absolute; /* 设置文本为绝对定位 */
  top: 5vh;
  left: 32vw; /* 文本距离左侧的距离 */
  color: rgb(7, 7, 0); /* 文本颜色 */
  background-color: rgba(248, 246, 246, 0); /* 半透明背景 */

  display: flex; /* 将子元素作为 flex 容器的子项 */
  flex-direction: column; /* 垂直排列子元素（如有多个） */
  justify-content: center; /* 垂直居中 */
  align-items: center; /* 水平居中 */
  height: 100px; /* 定义父元素的高度以帮助垂直居中 */
  width: 500px; /* 定义父元素的宽度以帮助水平居中 */
}

.info2 h3 {
  font-size: 15px;
}

.info2 p {
  font-size: 13px;
  margin-top: 2.5vh;
}
.info2 a {
  color: blue;
  text-decoration: none;
  border: 1px solid rgb(34, 179, 80);
  padding: 5px 20px;
  border-radius: 10px;
}

/*作品3*/
.Work3 {
  display: flex;
  background-color: #dddddd;
}

.Work3 img {
  width: 15vw;
  height: auto; /* 保持纵横比 */
  margin: 0 5vw;
}

.info3 {
  position: absolute; /* 设置文本为绝对定位 */
  top: 5vh;
  left: 32vw; /* 文本距离左侧的距离 */
  color: rgb(7, 7, 0); /* 文本颜色 */
  background-color: rgba(248, 246, 246, 0); /* 半透明背景 */

  display: flex; /* 将子元素作为 flex 容器的子项 */
  flex-direction: column; /* 垂直排列子元素（如有多个） */
  justify-content: center; /* 垂直居中 */
  align-items: center; /* 水平居中 */
  height: 100px; /* 定义父元素的高度以帮助垂直居中 */
  width: 500px; /* 定义父元素的宽度以帮助水平居中 */
}

.info3 h3 {
  font-size: 15px;
}

.info3 p {
  font-size: 13px;
  margin-top: 2.5vh;
}
.info3 a {
  color: blue;
  text-decoration: none;
  border: 1px solid rgb(34, 179, 80);
  padding: 5px 20px;
  border-radius: 10px;
}
/*数模*/
.Works {
  background: url(images/个人照/数学建模1.jpg);
  background-size: contain;
  width: 100%;
  height: 50%;
}

/*按钮*/
#mask {
  width: var(--iwidth2);
  height: var(--iheight2);
  position: absolute;
  display: flex;
  justify-content: space-between;
}
#mask div {
  width: 25%;
  height: 100%;
  z-index: 1000;
}
.button {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(56, 17, 17, 0.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  color: rgba(255, 252, 252, 0.7);
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(45px, -50%);
  visibility: hidden;
}
#l_mask:hover .button,
#r_mask:hover .button {
  visibility: visible;
}
.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}
/*数模轮播图2*/
#Img22 {
  width: var(--iwidth2);
  height: var(--iheight2);
  border-radius: 4px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: relative;
  margin-top: 0vh;
  margin-left: 32vw;
}
#main2 {
  display: flex;
  position: absolute;
  left: 0;
  gap: 10px;
}
#main2 div {
  width: var(--iwidth2);
  height: var(--iheight2);
  border-radius: 10px;
  flex-shrink: 0;
  background-size: cover;
}
#img6 {
  background: url(images/数学建模/picture2.png);
}
#img7 {
  background: url(images/数学建模/picture3.png);
}
#img8 {
  background: url(images/数学建模/高温作业服.png);
}
#img9 {
  background: url(images/数学建模/各时刻位置3.png);
}
#img10 {
  background: url(images/数学建模/国赛A.png);
}
#img11 {
  background: url(images/数学建模/美赛-流程图.png);
}

/*单片机视频1*/
.Video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: azure;
}
.info4 {
  margin: 30px 0;
  font-size: 15px;
  color: rgb(47, 255, 0);
}
#video1 {
  width: 80%;
  height: 70%;
  background-image: url(images/1.png);
}

.Video video {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
}
/*单片机视频2*/
#video2 {
  width: 90%;
  height: 80%;
  background-image: url(images/2.png);
}

.Video video {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
}
/*单片机视频3*/
#video3 {
  width: 90%;
  height: 80%;
  background-image: url(images/3.png);
}

.Video video {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
}
/*单片机视频4*/
#video4 {
  width: 90%;
  height: 80%;
  background-image: url(images/4.png);
}

.Video video {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.7);
}
#last_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: azure;
}

/*最后*/
#last_info h3 {
  font-size: 17px;
}
#last_info p {
  font-size: 15px;
}

/*页脚设置*/
footer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
/*响应式设计*/
@media screen and (max-width: 768px) {
  header ul {
    display: none;
    left: 50%;
    transform: translateX(-50%);
  }
  .motto h2 {
    font-size: 10px;
  }
  .Work1 {
    flex-direction: column;
  }
  .Work1 img {
    width: 100%;
  }
  .info1 {
    width: 100%;
    padding: 20px 0;
  }
  .info1 h3 {
    font-size: 10px;
  }

  .Work2 {
    flex-direction: column;
  }
  .Work2 img {
    width: 100%;
  }
  .info2 {
    width: 100%;
    padding: 20px 0;
  }
  .info2 h3 {
    font-size: 10px;
  }

  .Work3 {
    flex-direction: column;
  }
  .Work3 img {
    width: 100%;
  }
  .info3 {
    width: 100%;
    padding: 20px 0;
  }
  .info3 h3 {
    font-size: 10px;
  }
}

/* 新增的样式 */
section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

section.visible-down {
  opacity: 1;
  transform: translateY(0);
}

section.visible-up {
  opacity: 1;
  transform: translateY(-50px); /* 向上滚动时的效果 */
}
